<div style="margin-top:15px;" >
    <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="16px grid" fxLayoutAlign="space-around">
        <div fxFlex=33%>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Heatmap</mat-card-title>
                    <mat-card-subtitle>All time</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayoutAlign="center">
                        <h1>Heatmap</h1>
                        <ngx-charts-heat-map
                          [min]="0"
                          [max]="200"
                          [view]="[1100, 200]"
                          [results]="plateCounts"
                          [animations]="true"
                          [legend]="showLegend"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [showXAxisLabel]="false"
                          [showYAxisLabel]="false"
                          [innerPadding]="innerPadding"
                          [tooltipDisabled]="tooltipDisabled"
                          [tooltipText]="calendarTooltipText"
                          [trimXAxisTicks]="trimXAxisTicks"
                          [trimYAxisTicks]="trimYAxisTicks"
                          [rotateXAxisTicks]="rotateXAxisTicks"
                          [maxXAxisTickLength]="maxXAxisTickLength"
                          [maxYAxisTickLength]="maxYAxisTickLength"
                        ></ngx-charts-heat-map>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>